{% extends 'client/base.html' %}

{% block title %}
    Death Management - {% if form.is_readonly %} View {% else %} Edit {% endif %}
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'client/css/death_management/edit.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'client/js/form_utils.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container mx-auto py-4">
        <h1 class="text-2xl font-bold mb-5">Death Management</h1>

        <form method="post" class="w-full max-w-sm">
            {% csrf_token %}
            {% include "client/widgets/form_layout.html" with form=form %}
            <div class="flex justify-end mt-4 space-x-2">
                {% if form.is_readonly %}
                    <button type="button" class="btn btn-primary" onclick="navigateBack('{% url 'deaths_home' %}')">
                        Back
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn" onclick="confirmCancelBack('{% url 'deaths_home' %}')">Cancel
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
