# Django
DJANGO_SETTINGS_MODULE=config.settings.production_docker
SECRET_KEY=''
DEBUG=FALSE
LOG_LEVEL=INFO
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,srs-cms-web
CSRF_TRUSTED_ORIGINS=http://localhost:80
INTERNAL_IPS=127.0.0.1,0.0.0.0

SECURE_SSL_REDIRECT=TRUE
SESSION_COOKIE_SECURE=TRUE
CSRF_COOKIE_SECURE=TRUE
SECURE_BROWSER_XSS_FILTER=TRUE
SECURE_CONTENT_TYPE_NOSNIFF=TRUE

# Email
# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
# EMAIL_HOST = 'smtp.example.com'
# EMAIL_PORT = 587
# EMAIL_USE_TLS = True
# EMAIL_HOST_USER = 'your@email.com'
# EMAIL_HOST_PASSWORD = 'yourpassword'
# DEFAULT_FROM_EMAIL = 'noreply@example.com'

# Docker
GUNICORN_WORKERS=4
GUNICORN_THREADS=4
NGINX_PORT=80

# Database
DB_HOST=srs-cms-db
DB_PORT=5432
DB_NAME=production_srs_cms
DB_USER=postgres
DB_PASS=''

# ODK
ODK_BASE_URL=
ODK_USERNAME=
ODK_PASSWORD=''
ODK_API_FORM_SUBMISSION_PAGE_SIZE=100
