# Django
SECRET_KEY='django-insecure'
DEBUG=True
LOG_LEVEL=DEBUG
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
INTERNAL_IPS="127.0.0.1"

# Email
# Development:
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
# Production:
# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
# EMAIL_HOST = 'smtp.example.com'
# EMAIL_PORT = 587
# EMAIL_USE_TLS = True
# EMAIL_HOST_USER = 'your@email.com'
# EMAIL_HOST_PASSWORD = 'yourpassword'
# DEFAULT_FROM_EMAIL = 'noreply@example.com'

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dev_srs_cms
DB_USER=postgres
DB_PASS=

# ODK
ODK_BASE_URL=
ODK_USERNAME=
ODK_PASSWORD=
ODK_API_FORM_SUBMISSION_PAGE_SIZE=100

# NPM
NPM_BIN_PATH=

###############################################################################
# Dev Only
###############################################################################
DEV_SUPER_USER=
DEV_SUPER_USER_PASS=
DEV_SUPER_USER_EMAIL=

DEV_LOAD_PROVINCES_CSV=
DEV_LOAD_CLUSTERS_CSV=
DEV_LOAD_AREAS_CSV=
DEV_LOAD_STAFF_CSV=
DEV_ODK_IMPORT_USE_EXISTING_IF_MISSING=False
###############################################################################
# Dev Only
###############################################################################