# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
__pycache__/
.pytest_cache/
*.egg-info/
.installed.cfg
*.egg
*.pyc

.idea
.venv
.env
docker/production/env
.vscode
.coverage
.coverage.*
.tox
.static_files
.media_files
htmlcov
.mypy*/
client/static/node_modules

scripts/nmig/nmig
scripts/nmig/config/config.json

*.bat
test.py