{% load static %}
<link rel="stylesheet" href="{% static 'client/css/header.css' %}">

<div class="navbar bg-base-200">
    <div class="navbar-start">
        <div class="dropdown drop">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </div>
            {% if user.is_authenticated %}
                <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    {% include 'client/header_menu_items.html' %}
                </ul>
            {% endif %}
        </div>
        <a href="{% url 'home' %}" class="btn btn-ghost text-xl">SRS-CMS</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        {% if user.is_authenticated %}
            <ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
                {% include 'client/header_menu_items.html' %}
            </ul>
        {% endif %}
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="{% static 'client/images/avatar.jpg' %}" alt="avatar">
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                {% if user.is_authenticated %}
                    <li class="menu-title">
                        <span class="justify-between">{{ user.username }}</span>
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="justify-between">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <a href="{% url 'login' %}" class="justify-between">Login</a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>