{% extends 'client/base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'client/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container mx-auto mt-10 max-w-md p-6 bg-white rounded shadow">
        <h2 class="text-2xl font-bold mb-5">Login</h2>
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-row">
                <label class="form-label w-24">Username:</label>
                <div class="form-input-wrapper">
                    <input type="text" name="username" class="form-input" required/>
                    {% if form.username.errors %}
                        <p class="form-error">
                            {{ form.username.errors.0 }}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <label class="form-label w-24">Password:</label>
                <div class="form-input-wrapper">
                    <input type="password" name="password" class="form-input" required/>
                    {% if form.password.errors %}
                        <p class="form-error">
                            {{ form.password.errors.0 }}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-4">
                <a href="{% url 'password_reset' %}" class="text-sm  hover:underline">
                    Forgot your password?
                </a>
            </div>

            <div class="my-4">
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}