{% extends 'client/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container mx-auto mt-10 max-w-lg p-6 bg-white rounded shadow">
        <h2 class="text-2xl font-bold mb-5">Reset your password</h2>
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-row">
                <label class="form-label w-48" for="id_email">Email:</label>
                <div class="form-input-wrapper">
                    <input type="email" name="email" id="id_email" class="form-input" required/>
                    {% if form.email.errors %}
                        <p class="form-error">
                            {{ form.new_password1.errors.0 }}
                        </p>
                    {% endif %}
                </div>
            </div>

            <button type="submit" class="btn btn-sm btn-primary">Send Reset Link</button>
        </form>
    </div>
{% endblock %}